:root{
  --brown: #4C3B4D;
  --green:#586A6A;
  --cream: #B9A394;
  --light: #f4f3ee;
  --mint: #C9EDDC;
  --coral:#F26157;
  text-decoration: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: red 1px solid; */
}

body {
  background-color: var(--light);
  font-family: Helvetica, Arial, sans-serif;
  color: var(--coral);
}

header{
  padding: 20px;
  background-color: var(--green);
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--cream);
  margin: 0;
  display: inline;
}

header a {
  color: var(--cream);
  text-decoration: none;
}

header nav{
  float: right;
  margin: 7px 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a{
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}

footer{
  background: var(--cream);
  width: 100%;
  padding: 40px 35px;
}

footer h2{
  display: inline;
  color: var(--green);
  font-size:  30px;
  margin: 0;
}

footer div{
  float: right;
  line-height: 1.5;
  text-align: right;
  color: var(--green)
}

footer a{
  color: var(--brown);
}

section {
  padding: 60px;
}

.hero {
  background-image: url("../images/hero-bg.jpg");
  height: 600px;
  background-size: cover;
  background-position:top;
  position: relative;
}

.hero-form{
  background-color: var(--coral);
  padding: 20px;
  width: 500px;
  color: var(--brown);
  border: solid 4px var(--brown);
  position: absolute;
  bottom: 120px;
  right: 140px;


}

.hero-form h3{
  color: var(--mint);
}